BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ColumnLimit: 110
NamespaceIndentation: None
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ReflowComments: false
SortIncludes: Never
BreakBeforeBraces: Allman
